.overlay{
    position: absolute;
    z-index: 25;
    top:15vh;
    width: 50%;
    left:25%;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 0px #333;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 1s ease,transform 0.5s ease; 
}

.overlay-ease-in{
  position: absolute;
  z-index: 25;
  top:15vh;
  width: 50%;
  left:25%;
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 0px #333;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 1s ease,transform 0.5s ease-in; 
}
.overlay-ease-out{
  position: absolute;
  z-index: 25;
  top:15vh;
  width: 50%;
  left:25%;
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 0px #333;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 1s ease,transform 0.5s ease-out; 
}

.overlay-ease-in-out{
  position: absolute;
  z-index: 25;
  top:15vh;
  width: 50%;
  left:25%;
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 0px #333;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 1s ease,transform 0.5s ease-in-out; 
}

  .overlay.in.visible {
    opacity: 1;
    transform: translateY(0);
    /* background-color: rebeccapurple; */
    background-color: transparent;
  }

  .overlay-ease-in.in.visible {
    opacity: 1;
    transform: translateY(0);
    /* background-color: rebeccapurple; */
    background-color: transparent;
  }
  .overlay-ease-out.in.visible {
    opacity: 1;
    transform: translateY(0);
    /* background-color: rebeccapurple; */
    background-color: transparent;
  }
  .overlay-ease-in-out.in.visible {
    opacity: 1;
    transform: translateY(0);
    /* background-color: rebeccapurple; */
    background-color: transparent;
  }
  